<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Videos Youtube</title>
    <link rel="stylesheet" href="../public/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- <div class="container">
        <div class="header">
          <span>Videos Youtube</span>    
        </div>
                
        <div class="player" id="player"></div>
    </div>

    <script src="../public/scriptvideos.js"></script> -->

    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/videoseries?list=PL3CDD0Jz5nVHYIoTl2B42eqO_MAwW50A9"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </body>
</html>
